<div class="container-fluid">
  <div id="tomTitle"><h2>{{ititle}}</h2></div>
  <div style="margin-bottom:2%;">Listed for sale for {{cardom}} days</div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <canvas id="canvas2">{{ chart2 }}</canvas>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <canvas id="canvas3">{{ chart3 }}</canvas>
    </div>
  </div>
</div>