<div class="container" *ngIf="visible">
  <div id="title">{{ititle}}</div>
  <table class="table table-responsive" style="text-align:left;">
    <thead>
      <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Miles</th>
      </tr>
    </thead>
    <tbody *ngFor="let x of data;index as i">
      <tr>
        <td>
          {{x.scraped_at_date | date}} - {{x.last_seen_at_date | date}}
          <br />
          <a style="font-size: 14px;" href="http://{{x.source}}">
            {{x.seller_name}}
            <img style="width:18px;color:blue;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAH5SURBVGhD7Za7S8NAAIf7H/kXmESdpU2tuCi+QAQnRcVBBxfRQXyhILgo1MG3eIm2FSyKLwRHraItPjY3F2sLPXt60ba56uVMm2u5D76hCSS/D44Sl0AgEJQfiluvkVUQkDxayEkrvVoDnsSG7AGLsqpBp5VUEMaT2EiH+EkPLrbpkCM8iY2yCanvDJ+RHlxsa9v2Y3gSG6PLsfDwwi102pGl+wiexEYwmvCHoknotMFo8n9HS4TYrAgxECE2K0IMRIjN2h4Crt/gysUrk4G7RNY4K9ofcvUGG3uOid9Df7l2+Zo1zooFOVpaJA6bek+IY3+TuxCkno5p7j8lDs4nlyFI/SYOWwfOiaNJchuC3Lt9h/Vdh8ThuXIdMuaPQcVLHp4rtyFWIpBchliNQHIXwhKB5CqEJqLatwt9nWHTdW5CaCNmtp+/vgC6s78AuAihiaiq0+H01vP3y3NjHA+hiVBQxOaTaUBmjKMhg7NX5zQRUxvmCEMjxrEQyQM6ZIqIyfVH4sszRTH6dZx4j0bmkM8IFaRI4w1RxARFhB0yhchu0EIVsfpAfGkhZAqpUncqJFV7IQUgUcT4SvEikMxHK1+MomqpobnIQfA+OV9MQ9FEH55mHXMMSEkevQ3fLi1+YkCq0g3a8eXSBMWgPwD8UyAQCAT/wOX6AKThEpdyXDBXAAAAAElFTkSuQmCC">
          </a>
        </td>
        <td *ngIf="x.price">
          $ {{x.price}}
          <br />
          <span [ngClass]="((data[i].price - data[i+1].price)<0)?'successclr':'alertclr'" *ngIf="data[i+1] && data[i+1].price && data[i+1].price!=data[i].price">$ {{data[i].price - data[i+1].price}}
            <div *ngIf="(data[i].price - data[i+1].price)<0">
              <svg width="8" fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve">
                <polygon points="0,96.879 193.129,289.379 386.257,96.879 " />
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </div>
            <div *ngIf="(data[i].price - data[i+1].price)>0">
              <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="8" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
                <g>
                  <g id="arrow-drop-up">
                    <polygon points="0,191.25 127.5,63.75 255,191.25" />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </div>
          </span>
        </td>
        <td *ngIf="!x.price">NA</td>
        <td *ngIf="x.miles">
          {{x.miles}} mi
          <br />
          <span [ngClass]="((data[i].miles - data[i+1].miles)<0)?'successclr':'alertclr'" *ngIf="data[i+1] && data[i+1].miles && data[i+1].miles!=data[i].miles">{{data[i].miles - data[i+1].miles}} mi
            <div *ngIf="(data[i].miles - data[i+1].miles)>0">
              <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="8" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
                <g>
                  <g id="arrow-drop-up">
                    <polygon points="0,191.25 127.5,63.75 255,191.25" />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </div>
            <div *ngIf="(data[i].miles - data[i+1].miles)<0">
              <svg width="8" fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve">
                <polygon points="0,96.879 193.129,289.379 386.257,96.879 " />
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </div>
          </span>
        </td>
        <td *ngIf="!x.miles">NA</td>
      </tr>
  </table>
</div>